---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/createoradjust
    body:
      encoding: UTF-8
      string: '{"createTransactionModel":{"code":"R111839419","date":"2018-06-28","discount":0.0,"commit":false,"type":"SalesOrder","lines":[{"number":"1-LI","description":"Product
        #2 - 695","taxCode":"PC030000","itemCode":"SKU-2","quantity":1,"amount":5.0,"discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1070
        Lombard Street","line2":null,"city":"San Francisco","region":"CA","country":"US","postalCode":"94109"},"shipTo":{"line1":"42
        Fake Street","line2":"Southeast","city":"Los Angeles","region":"CA","country":"US","postalCode":"90210"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null},{"number":"1-FR","itemCode":"Avalara
        Ground","quantity":1,"amount":0.0,"description":"Shipping Charge","taxCode":"FR000000","discounted":false,"taxIncluded":false,"addresses":{"shipFrom":{"line1":"1070
        Lombard Street","line2":null,"city":"San Francisco","region":"CA","country":"US","postalCode":"94109"},"shipTo":{"line1":"42
        Fake Street","line2":"Southeast","city":"Los Angeles","region":"CA","country":"US","postalCode":"90210"}},"customerUsageType":null,"businessIdentificationNo":null,"exemptionCode":null}],"customerCode":1,"companyCode":"001","customerUsageType":null,"exemptionNo":null,"referenceCode":"R111839419","currencyCode":"USD","businessIdentificationNo":null}}'
    headers:
      X-Avalara-Uid:
      - a0o33000004FH8l
      Content-Type:
      - application/json
      Authorization:
      - Basic MTEwMDEyNzQwNjo2MEM4RTU4RkYxMDU1MjBD
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - "/api/v2/companies/0/transactions/0"
      Serverduration:
      - '00:00:00.0992903'
      Databasecalls:
      - '0'
      Databaseduration:
      - '00:00:00'
      Serviceduration:
      - '00:00:00.0953158'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"R111839419","companyId":0,"date":"2018-06-28","paymentDate":"2018-06-28","status":"Temporary","type":"SalesOrder","currencyCode":"USD","customerVendorCode":"1","customerCode":"1","reconciled":false,"referenceCode":"R111839419","totalAmount":5.0,"totalExempt":0.0,"totalDiscount":0.0,"totalTax":0.47,"totalTaxable":5.0,"totalTaxCalculated":0.47,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2018-06-28","exchangeRate":1.0,"modifiedDate":"2018-06-28T18:51:04.6611166Z","modifiedUserId":41103,"taxDate":"2018-06-28T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"1-LI","description":"Product
        #2 - 695","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"SKU-2","lineAmount":5.0,"quantity":1.0,"reportingDate":"2018-06-28","tax":0.47,"taxableAmount":5.0,"taxCalculated":0.47,"taxCode":"PC030000","taxCodeId":8107,"taxDate":"2018-06-28","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"06","jurisName":"CALIFORNIA","stateAssignedNo":"","jurisType":"STA","jurisdictionType":"State","nonTaxableAmount":0.0,"rate":0.060000,"tax":0.3,"taxableAmount":5.0,"taxType":"Sales","taxName":"CA
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.3,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"075","jurisName":"SAN
        FRANCISCO","stateAssignedNo":"","jurisType":"CTY","jurisdictionType":"County","nonTaxableAmount":0.0,"rate":0.002500,"tax":0.01,"taxableAmount":5.0,"taxType":"Sales","taxName":"CA
        COUNTY TAX","taxAuthorityTypeId":45,"taxCalculated":0.01,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"EMAR0","jurisName":"LOS
        ANGELES COUNTY DISTRICT TAX SP","stateAssignedNo":"594","jurisType":"STJ","jurisdictionType":"Special","nonTaxableAmount":0.0,"rate":0.022500,"tax":0.11,"taxableAmount":5.0,"taxType":"Sales","taxName":"CA
        SPECIAL TAX","taxAuthorityTypeId":45,"taxCalculated":0.11,"rateType":"General","rateTypeCode":"G","isNonPassThru":false},{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.0,"jurisCode":"EMTV0","jurisName":"SAN
        FRANCISCO CO LOCAL TAX SL","stateAssignedNo":"38","jurisType":"STJ","jurisdictionType":"Special","nonTaxableAmount":0.0,"rate":0.010000,"tax":0.05,"taxableAmount":5.0,"taxType":"Sales","taxName":"CA
        SPECIAL TAX","taxAuthorityTypeId":45,"taxCalculated":0.05,"rateType":"General","rateTypeCode":"G","isNonPassThru":false}],"nonPassthroughDetails":[],"hsCode":"","costInsuranceFreight":0.0,"vatCode":"","vatNumberTypeId":0},{"id":0,"transactionId":0,"lineNumber":"1-FR","description":"Shipping
        Charge","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"itemCode":"Avalara
        Ground","lineAmount":0.0,"quantity":1.0,"reportingDate":"2018-06-28","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"FR000000","taxCodeId":8550,"taxDate":"2018-06-28","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"CA","exemptAmount":0.[...]
